<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Reward</title>
<link th:href="@{/styles/style.css}" rel="stylesheet">
</head>
<body>
	<h1>Add Reward</h1>

	<hr>
	<div class="taskBar">
		<a th:href="@{/}">Home</a> <a
			th:href="@{/addReward}">Add Reward</a>
	</div>

	<hr>

	<br>

	<form method="post" th:action="@{/processReward}" th:object="${reward}">
		Reward Name: <input type="text" th:field="*{rewardName}"> <input
			type="submit" value="Add Reward">
	</form>

</body>
</html>